<div id="go-back">
  <a href="/">
    <img src="/assets/arrow-back-icon.png" alt="arrow back icon" class="icon">
  </a>

  {{#if values.id}}
    <img src="/assets/trash-icon.png" alt="trash icon" class="icon" onclick="deleteReminder({{values.id}})">
  {{/if}}
</div>

<form action="/reminders" method="post">

  <input type="text" hidden name="id" value="{{values.id}}">

  <input 
    type="text" 
    name="title" 
    id="title" 
    class="mordern-input" 
    placeholder="Título"
    value="{{values.nome}}"
    required>

  <input 
    type="text" 
    name="description" 
    id="description" 
    class="mordern-input" 
    placeholder="Descrição"
    value="{{values.descricao}}"
    required>

  <div id="dates">
    <div class="field">
      <label for="eventDate">Data do evento: </label>
      <input 
        type="date" 
        name="eventDate" 
        id="eventDate" 
        class="input" 
        value="{{values.data_evento}}"
        required>
    </div>

    <div class="field">
      <label for="reminderDate">Data do lembrete: </label>
      <input 
        type="date" 
        name="reminderDate" 
        id="reminderDate" 
        class="input" 
        value="{{values.data_notificacao}}"
        required>
    </div>
  </div>

  <div id="reminders">
    <div id="reminders-title">Meios de notificação:</div>
    <div class="reminder-type">
      <label for="notifyEmail">
        <img src="/assets/email-icon.png" alt="email icon" class="icon">
        Email
      </label>
      <input type="checkbox" id="notifyEmail" name="notifyEmail" checked />
    </div>
    <div class="reminder-type">
      <label for="notifyWpp">
        <img src="/assets/wpp-icon.png" alt="wpp icon" class="icon">
        WhatsApp
      </label>
      <input type="checkbox" id="notifyWpp" name="notifyWpp" />
    </div>
    <div class="reminder-type">
      <img src="/assets/sms-icon.png" alt="sms icon" class="icon">
      <label for="notifySms">SMS</label>
      <input type="checkbox" id="notifySms" name="notifySms" />
    </div>
  </div>

  <input type="submit" value="SALVAR" class="button">
</form>

<script>
  function deleteReminder(id) {
    fetch(`/reminders/${id}`, {method: "DELETE"})
      .finally(() => {
        window.location.href = "/"
      })
  }
</script>